@import "./catppuccin.css";
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--ctp-mocha-crust);
  color: var(--ctp-mocha-text);
  font-family: "CaskaydiaCove NF", monospace;
}

div.container {
  display: flex;
  flex-direction: collumn;
}

h1 {
  color: var(--ctp-mocha-lavender);
}

a {
  color: var(--ctp-mocha-maroon);
  text-decoration: none;
}

ul {
  list-style-type: none;
}
main {
  display: flex;
  flex-direction: collumn;
  justify-content: space-evenly;
}
